/* Reset basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Global styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

/* Header & Navigation */
header {
    background-color: #222;
    padding: 15px 0;
}

nav {
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

/*Active page link */
nav a.active {
    font-weight: bold;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 3px;
}

/* Main content styles */
main {
    width: 100%;
    margin:30px auto;
    max-width: 1200px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 6px;
}

/*Headings */
h1 {
    margin-bottom: 15px;
    color: #222;
}

h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #333;
}

/* Paragraphs */
p {
    margin-bottom: 15px;
}


/*lists */
ul {
    list-style-type: square;
    margin-left: 25px;
    margin-bottom: 15px;
}

li {
    margin-bottom: 8px;
}

/*Links inside content */
main a {
    color: #0066cc;
    text-decoration: none;
}

main a:hover {
    text-decoration: underline;
}

/* Footer styles */
footer {
    background-color: #eaeaea;
    text-align: center;
    padding: 12px;
    margin-top: 40px;
    font-size: 14px;
    color: #555;
}